
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2em;
}
.slider {
  grid-column: 2/4;
  grid-row: 1/2;
}

.text {
    grid-column: 2/4;
    grid-row: 2/3;
}


@media (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
  }

  .grid > div {
    background: blue;
  }

  .slider {
    grid-column: 2/4;
    grid-row: 1/2;
  }

  .text {
    grid-column: 4/6;
    grid-row: 1/2;
  }

  img {
  	max-width: 100%;
}

}