
body {
  font-family: Tahoma, sans-serif;
  margin: 0;
  background: #fcf6f2;
}

/*menu*/
.header {
  background: #D9A796;
  box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
  position: sticky;
  margin-top: 0; 
  width: 100%; 
  z-index: 3;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header .logo {
  font-size: 40px;
  padding: 10px 20px;
  color: #152840;
  font-weight: bold; 
  text-decoration: none;
}

.header ul {
  margin:0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}


.header ul a{
  display:block;
  padding: 40px;
  background: #D9A796;
  font-size: 30px;
  color: white;
  width: 100%;
  text-decoration: none;
}

.header .menu{
  clear:both;
  height:0px;
  margin: 0;
  width: 100%;
  margin: 0;
  transition: height .2s ease-out;
  background: white;
}

.header ul a:hover{
  background-color: #ddd;  
}


.header .menu-icon{
  padding-right: 46px;
  padding-top: 26px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background: #152840;
  display:block;
  height: 6px;
  width: 60px;
  position: relative;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background: #333;
  content: "";
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top:15px;
}

.header .menu-icon .nav-icon:after{
  background: #333;
  content: "";
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top:-15px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu{
  height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu{
  height: 470px;
}

/*conteudo*/

.largetext {
  margin: 5vh;
  font-size: 20px;
}

.card {
  height: 15vh;
  margin: 5vh;
  box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
  font-size: 24px;
}

.projects {
  padding-bottom: 20vh;
}

.slider {
  widht:600px;
  height: 340px;
  overflow: scroll;
}

.slider img {
  width: 100%;
}

.text {
  font-size: 14px;
  margin: 5vh;
  padding-bottom: 20vh;
}

.experience {
  font-size: 14px;
  margin: 5vh;
  padding-bottom: 20vh;
}

/*footer*/

footer {
  background: black;
  color: white;
  position: static;
  bottom: 0px;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

footer p {
  margin: 5vh;
}

li {
  list-style-type: none;
  margin-right: 0;
}

@media (min-width: 600px) {
  body {
  background: blue;
  }

  header {
  height: 60px;
  }

  /*conteudo*/

.largetext {
  padding-top: 10vh;
}

 /*projects*/

 .slider {
  max-widht:40vh;
  height: 100vh;
  overflow: scroll;
 }

 .grid {
  display: flex;
  flex-wrap: nowrap;
 }

  /*footer*/

  footer {
  background: black;
  color: white;
  position: fixed;
  margin: 0;
  width: 100%;
  font-size: 12px;
  padding: 20px;
  text-align: left;
  display: flex;
  }

  footer p {
  margin: 0vh;
}

}


/*.grid {
}

.slider {
  widht:600px;
  height: 600px;
  overflow: scroll;
}

.text {
  font-size: 12px;
  padding: 40px;
  margin: 0 20px;
}

.about {
  font-size: 12px;
  padding-top: 40%;
  margin: 0 10%;
}

.btn {
  margin-top: 20px;
  background: #a076e0;
  padding: 10px 30px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  box-shadow:2px 3px 8px 0 rgba(0,0,0,.3);
}

.largetext {
  color: #152840;
  padding-top: 20%;
  font-size: 40px;
  line-height: 100px;
}

.slider img {
  width: 100%
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #152840;
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  padding: 30px 10px; 
}

footer em {
  text-decoration: line-through;
  font-style: normal;
}

footer ul {
 margin:0;
 padding: 0;
 list-style: none;
 overflow: hidden;
}

footer li{
margin: 10px;
}

.flex-container {
  margin-top: 0;
  display: inline;
}

.card {
  display: block;
  background: white;
  margin: 60px;
  padding: 60px;
  height: 150px;
  box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
}

@media (max-width: 600px) {



}

  footer {
    display: flex;
    font-size: 12px;
    padding: 10px;
    text-align: left;
  }*/