
$bg-color: #f2c6ab;
$bg-color2: #d9a796;
$font-color: #242424;
$shadow: 1px 1px 6px 0 rgba(113, 71, 71, 0.358);
$breakpoint: 700px;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: $bg-color;
  color: $font-color;
}

.header {
  background: $bg-color2;
  box-shadow:$shadow;
  position: sticky;
  margin-top: 0;
  width: 100vw; 
  z-index: 3;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 5px;

  .logo {
    font-size: 30px;
    padding: 8px 20px;
    color: $font-color;
    font-weight: normal; 
    text-decoration: none;
  }

  ul {
    margin:0;
    padding: 0;
    list-style: none;
    overflow: hidden;

  a{
      display:block;
      padding: 20px;
      background: $bg-color2;
      font-size: 20px;
      color: white;
      width: 100%;
      text-decoration: none;
    }

    a:hover{
      background-color: #ddd;  
    }

  }
  .menu{
    clear:both;
    height:0px;
    margin: 0;
    width: 100%;
    margin: 0;
    transition: height .2s ease-out;
    background: white;
  }

  .menu-icon{
    padding-right: 46px;
    padding-top: 16px;
    position: relative;
    float: right;
    cursor: pointer;

    .nav-icon{
      background: $font-color;
      display:block;
      height: 4px;
      width: 30px;
      position: relative;
      transition: background .2s ease-out;
    }

    .nav-icon:before{
      background: #152840;
      content: "";
      display:block;
      height: 100%;
      width: 100%;
      position: absolute;
      transition: all .2s ease-out;
      top:8px;
    }

    .nav-icon:after{
      background: $font-color;
      content: "";
      display:block;
      height: 100%;
      width: 100%;
      position: absolute;
      transition: all .2s ease-out;
      top:-8px;
    }    

  }
  .menu-btn {
  display: none;
  }
  .menu-btn:checked ~ .menu{
    height: 200px;
  }
  
  .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
  }

  .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
  } 
}


.experience {
  font-size: 14px;
  margin: 5%;
  padding-bottom: 20vh;
}

li {
  list-style-type: none;
  margin-right: 0;
}

svg {
  width: 36px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  margin: 6px;
}

main {
  min-height: 10vh;
}

footer {
  background: $font-color;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;

  h1 {
    color: white;
    font-size: 16px;
  }

  h1 {
    margin-bottom: 0;
    color: white;
  }

  ul {
    padding-left: 0;
  }

  em {
    text-decoration: line-through;
  }

}

@media screen and (min-width: $breakpoint) {

header {
  position: static;
}
  /*conteudo*/

 /*projects*/

 .slider {
  width: 50vw;
  height: 100vh;
  overflow: scroll;
 }

 .grid {
  display: flex;
  flex-wrap: nowrap;
 }

 .text {
  margin: 5%;
  font-size: 16px;
  max-width: 50vw;
  padding-bottom: 20vh;
}

::-webkit-scrollbar {
  display: none;
}

  /*footer*/

  footer {
  position: fixed;
  background: $font-color;
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  
  .footer-text {
  text-align: left;
  margin-left: 3vw;
  font-size: 20px;
  }

  h1{
    font-size: 30px;
   }

   ul {
    padding-right: 3vw;
  }
}

}


