
$bg-color: #f2c6ab;
$bg-color2: #d9a796;
$font-color: #242424;
$shadow: 1px 1px 6px 0 rgba(113, 71, 71, 0.358);


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: $bg-color;
  color: $font-color;
}

/*menu*/
.header {
  background: $bg-color2;
  box-shadow:$shadow;
  position: sticky;
  margin-top: 0;
  width: 100vw; 
  z-index: 3;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 5px;
}

.header .logo {
  font-size: 30px;
  padding: 10px 20px;
  color: $font-color;
  font-weight: bold; 
  text-decoration: none;
}

.header ul {
  margin:0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}


.header ul a{
  display:block;
  padding: 20px;
  background: $bg-color2;
  font-size: 20px;
  color: white;
  width: 100%;
  text-decoration: none;
}

.header .menu{
  clear:both;
  height:0px;
  margin: 0;
  width: 100%;
  margin: 0;
  transition: height .2s ease-out;
  background: white;
}

.header ul a:hover{
  background-color: #ddd;  
}


.header .menu-icon{
  padding-right: 46px;
  padding-top: 16px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background: $font-color;
  display:block;
  height: 4px;
  width: 30px;
  position: relative;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background: #152840;
  content: "";
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top:8px;
}

.header .menu-icon .nav-icon:after{
  background: $font-color;
  content: "";
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top:-8px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu{
  height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu{
  height: 264px;
}

/*conteudo*/

.experience {
  font-size: 14px;
  margin: 5%;
  padding-bottom: 20vh;
}

/*footer*/

footer {
  background: $font-color;
  position: static;
  bottom: 0px;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

footer p h1 {
  color: white;
}

li {
  list-style-type: none;
  margin-right: 0;
}

em {
  text-decoration: line-through;
}

@media screen and (min-width: 700px) {

header {
  position: static;
}


  /*conteudo*/

.largetext {
  font-size: 6.5vh;
  margin-top: 0;
}

 /*projects*/

 .slider {
  width: 50vw;
  height: 100vh;
  overflow: scroll;
 }

 .grid {
  display: flex;
  flex-wrap: nowrap;
 }

 .text {
  margin: 5%;
  font-size: 14px;
  max-width: 50vw;
  padding-bottom: 20vh;
}

::-webkit-scrollbar {
  display: none;
}

  /*footer*/

  footer {
  background: $font-color;
  position: fixed;
  margin: 0;
  width: 100%;
  font-size: 12px;
  display: flex;
  }

  .footer-text h1{
   font-size: larger;
  }

  .footer-text {
    text-align: left;
    margin-left: 3vw;
  }

}


