$bg-color: #d9a796;
$font-color: #26264B;

body {
  font-family: Tahoma, sans-serif;
  margin: 0;
  background: $bg-color;
}

/*menu*/
.header {
  background: $bg-color;
  box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
  position: sticky;
  margin-top: 0; 
  width: 100%; 
  z-index: 3;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header .logo {
  font-size: 30px;
  padding: 10px 20px;
  color: $font-color;
  font-weight: bold; 
  text-decoration: none;
}

.header ul {
  margin:0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}


.header ul a{
  display:block;
  padding: 40px;
  background: $bg-color;
  font-size: 30px;
  color: white;
  width: 100%;
  text-decoration: none;
}

.header .menu{
  clear:both;
  height:0px;
  margin: 0;
  width: 100%;
  margin: 0;
  transition: height .2s ease-out;
  background: white;
}

.header ul a:hover{
  background-color: #ddd;  
}


.header .menu-icon{
  padding-right: 46px;
  padding-top: 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background: $font-color;
  display:block;
  height: 4px;
  width: 30px;
  position: relative;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background: #152840;
  content: "";
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top:8px;
}

.header .menu-icon .nav-icon:after{
  background: $font-color;
  content: "";
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top:-8px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu{
  height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu{
  height: 470px;
}

/*conteudo*/

.experience {
  font-size: 14px;
  margin: 5%;
  padding-bottom: 20vh;
}

/*footer*/

footer {
  background: $font-color;
  color: white;
  position: static;
  bottom: 0px;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

footer p {
  margin: 5vh;
}

li {
  list-style-type: none;
  margin-right: 0;
}

@media screen and (min-width: 700px) {
  
body {
  background: blue;
  }

header {
  height: 60px;
}

.header .logo {
  font-size: 30px;
  font-weight: bold; 
  text-decoration: none;
}

.header .menu-icon{
  padding-right: 22px;
  padding-top: 13px;
  position: relative;
  float: right;
  cursor: pointer;
}

  /*conteudo*/

.largetext {
  font-size: 6.5vh;
  margin-top: 0;
}

 /*projects*/

 .slider {
  width: 50vw;
  height: 100vh;
  overflow: scroll;
 }

 .grid {
  display: flex;
  flex-wrap: nowrap;
 }

 .text {
  margin: 5%;
  font-size: 14px;
  max-width: 50vw;
  padding-bottom: 20vh;
}

  /*footer*/

  footer {
  background: $font-color;
  color: white;
  position: fixed;
  margin: 0;
  width: 100%;
  font-size: 12px;
  padding: 20px;
  text-align: left;
  display: flex;
  }
  footer p {
  margin: 0vh;
}

}


