.card {
  height: 15vh;
  margin: 5vh;
  box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
  font-size: 24px;
  background: white;
  color: black;
  text-decoration: none;
}

.projects {
  padding-bottom: 5vh;
}

.projects a{
  font-size: large;
} 
