  
@include scroll-vertical

  .text {
    margin: 5%;
    font-size: 14px;
    margin-bottom: 20vh;
  }

  .btn {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #66cdaa;
    padding: 5px 20px;
    border-radius: 8px;
    box-shadow: $shadow;
  }

  @media screen and (min-width: 700px) {
    .slider {
    height: 80vh;
    }
  }