<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Portfólio — Sara Parada</title>
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>
<body>

<div class="grid-container">
  <div class="item1">Titulo</div>
  <div class="item2">{% include header.html %}</div>
  <div class="item3">image</div>  
  <div class="item3">{{content}}</div>
  <div class="item5">{% include footer.html %}</div>
</div>

	{% include header.html %}

	{{content}}

	{% include footer.html %}	
</body>
</html>